.form{
   color: antiquewhite;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.errorimg{
   height: 10vh;
}
.errorMessage{
   display: flex;
   align-items: center;
   color: yellow;
   font-weight: bold;
   font-size: larger;
   background-color: red;
   border-radius: 100%;
}
.titulo{
   background: linear-gradient(60deg, rgba(255, 255, 255, 0.445),rgba(255, 255, 0, 0.418), rgba(153, 205, 50, 0.329), rgba(0, 128, 0, 0.185), rgba(128, 128, 0, 0.171),rgba(0, 128, 0, 0.377),rgba(153, 205, 50, 0.384),rgba(255, 255, 0, 0.37),rgba(255, 255, 255, 0.342));
   width: 30vw;
   border-radius: 100%;
}