.card {
    color: antiquewhite;
    border: solid 05px rgb(200, 235, 148);
    border-style: groove;
    padding: 20px;
    width: 22vw;
    height: 24em;
    position: relative;
    background-color: rgba(5, 26, 26, 0.781);
    border-radius: 40px;
    overflow: hidden;
    margin: 1vw;
}
.card img {
    max-width: 95%;
    object-fit: contain;
    border-radius: 100%;
}

.navlink {
    color: rgb(245, 245, 245);
}

.h5 {
    margin: 2px;
}

h2 {
    margin-top: 3px;
    margin-bottom: 0%;
}

.favButton {
    border-radius: 100%;
    background-color: olivedrab;
}

.buttonx {
    color: white;
    background-color: black;
    border-radius: 30%;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}
