.buttonsContainer{
    display: grid;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desplegable{
    border-radius:8px;
    font-size: larger;
    font-weight: bolder;
    color: antiquewhite;
    background: rgba(38, 82, 47, 0.514);
    margin: 1vw 10vw 1vw 10vw;
}

.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 1vw;
    margin-bottom: 1vw;
    background-color: rgba(0, 255, 255, 0.116);
    width: 90vw;
}