.searchbarcontainer{
    display:flex;
    background: linear-gradient( rgb(119, 116, 116),rgb(119, 116, 116, 0.582));
    width: 100%;
    z-index: -2;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
}

.button{
    cursor: pointer;
    border: none;
    padding: 3px 3px;
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    margin: 5px;
    z-index: 1;
}

.goldenButton{
    cursor: pointer;
    border: none;
    padding: 3px 3px;
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    margin: 5px;
    z-index: 1;
}

.blueButton{
    cursor: pointer;
    border: none;
    padding: 3px 3px;
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    margin: 5px;
    z-index: 1;
}

.navlink{
    color: rgb(198, 211, 171);
    text-decoration: none;
}

.innerbutton{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 31px;
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    margin: 0px;
    z-index: 2;
}

.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: linear-gradient(45deg,olive, green,yellowgreen,yellow,white,yellow,yellowgreen,green,olive, green,yellowgreen,yellow,white);
    background-size: 800%;
    border-radius: 0px;
    filter: blur(8px);
    animation: glow 40s linear infinite;
}

.blueButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: linear-gradient(45deg,rgb(33, 85, 145), green,cyan,green,rgb(33,85,145), green,cyan);
    background-size: 800%;
    border-radius: 0px;
    filter: blur(8px);
    animation: glow 40s linear infinite;
}

.goldenButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: linear-gradient(45deg,rgb(236, 105, 17),gold,yellow,white,silver,white,yellow,gold,rgb(221,172,9),rgb(236, 105, 17));
    background-size: 800%;
    border-radius: 0px;
    filter: blur(8px);
    animation: glow 40s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.searchbar{
    background: #363535;
    border: none;
    padding: 19px;
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 500px;
    margin:0px;
    width: 5rem;
    height: 5rem;
}

.searchbar:hover {
    width: 14rem;
}

.logo{
    display: flex;
    flex-direction: column;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

.logout{
    color: antiquewhite;
    font-weight: bold;
}
