.aboutsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
    background-image: url(../assets/Daco_48270.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: aliceblue;
}
.aboutcontent {
    font-size: auto;
    width: 60vw;
    height: 50vh;

    background: linear-gradient(
        10deg,
        rgba(169, 169, 169, 0.089),
        rgba(0, 0, 0, 0.815),
        rgba(0, 0, 0, 0.685),
        rgba(0, 0, 0, 0.445),
        rgba(0, 0, 0, 0.233),
        rgba(0, 0, 0, 0.075)
    );
    border-radius: 5rem;
    padding: 40px;
}

.abouttitle {
    width: 50vw;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.233),
        rgba(0, 0, 0, 0.541),
        rgba(0, 0, 0, 0.685),
        rgba(0, 0, 0, 0.815),
        rgba(169, 169, 169, 0.192)
    );
    border-radius: 15rem;
    padding: 10px;
}
@media (max-width: 400px) {
    .aboutcontent {
        font-size: small;
        width: 95vw;
    }
}
.link {
    text-decoration: none;
    cursor: pointer;
    font-size: large;
    text-shadow: black;
    color: aliceblue;
}
