.App {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   background-image: url("./components/assets/wallpapergalaxia.jpg");
   background-size: cover;
   min-height: 100vh;
   min-width:100%;
   z-index: -9;
}